# TFC_WORKSPACE_NAME            = null
# assessments_enabled           = false
# execution_mode                = "remote"
oauth_token_id                = null
organization                  = null
# sec_vars                      = {}
# slacks                        = {}
# speculative_enabled           = true
# structured_run_output_enabled = false
# tag_names                     = []
# tf_version                    = null
# triggers                      = {}
# var_sets                      = {}
# vars                          = {}
vcs_org                       = null
vcs_repo                      = null
# workspaces                    = {}
aws_access_key_id = 
aws_secret_access_key = 
